.dashboard-container {
  display: flex;
}
.dashboard-main-content{
  flex: 1;
  background-color: #f9f9fb;
}
.sidebar {
  width: 350px;
  background-color: #fafafa;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
  border-right: 1px solid #e9ecef ;
  padding: 1% 1% 2% 1%;
}
.sidebar-top i{
  font-size: 1.8rem;
  margin-right: 0.6vw;
  display: inline-block;
  margin-top: 3vh;
}
.sidebar-bottom:hover,.sidebar-center:hover{
    background-color: #dddddf;
    padding:0% 0% 4% 0%;
    border-radius: 15px;
}
 #task{
  color:blueviolet;
 }
.dashboard{
  font-size: 1.8rem;
}
.dash-link{
  text-decoration: none;
  color: black;
}
.logout-button {
  border: none;
  padding: 2%;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
}
.logout-button i{
  margin-right: 1vw;
}
.logout-button:hover {
  background: #c82333;
}
.dashboard-content {
  padding: 2% 4%;
}
.dashboard-content i{
  display: inline-block;
  font-size: 2rem;
  padding-bottom: 3vh;
}
.dashboard-content h1{
  font-size: 2.5rem; 
  border-top:2px solid #e9ecef;
  padding-top: 2vh;
}
.welcome{
  color: #6c757d;
  font-size: 1.4rem;
  margin: 1.5vh 0vh 3vh 0vh;
}
.task-stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4vh;
  flex-wrap: wrap;
}
.stat-item i{
  padding: 15px;
  border-radius: 50%;
  background-color: rgb(240, 221, 240);
  color: blueviolet;
  display: flex;
}
.stat-item {
  display: flex;
  align-items: center;
   background: white;
  border-radius: 15px;
  padding: 1.5%;
  width: 450px;
  gap: 10%;
  border: 1px solid #e9ecef;
}
.stat-label {
  font-size: 1.4rem;
  font-weight: 600;
  color: #6c757d;
  margin-bottom: 1vh;
}
.stat-number {
  font-size: 2.2rem;
  font-weight: 600;
}
#completed{
  background-color: #e8f9ee;
   color: #39b667;
   font-size: 2.5rem;
}
#pending{
  color: black;
  background: none;
   font-size: 2.5rem;

}
.dashboard-content h2 {
  font-size: 1.8rem;
  color: black;
}
 .task-form {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  background-color: white;
  padding: 2%;
  border-radius: 30px;
  margin-top: 2vh;
   border: 1px solid #e9ecef;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group h3 {
  margin-bottom: 2vh;
  font-size: 1.3rem;
  }
  .form-group input,
  .form-group select {
    padding: 0.7%;
    border-radius: 10px;
    border: 1px solid #bec0c2;
    font-size: 1.1rem;
      background-color: #f9f9fb;
  }
  .form-group textarea{
    padding: 1.5%;
    border-radius: 10px;
    border: 1px solid #bec0c2;
    font-size: 1.1rem;
      background-color: #f9f9fb;
  }
.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  outline: none;
}
.add-task-btn {
  background: blueviolet;
  color: white;
  border: none;
  padding: 0.9%;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}
.add-task-btn:hover {
  background: blue;
} 