*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins",sans-serif;
}
.login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #f9f9fb;
  min-height: 100vh; 
}
.login-icon{
  display: flex;
  align-items: center;
  gap: 5%;
}
.login-icon i{
  color: blueviolet;
  font-size: 3rem;
}
.login-header {
  text-align: center;
}
.login-header h1 {
  font-size: 3rem;
}
.login-header p {
  color: #707a7a;
  font-size: 1.5rem;
  margin:  2vh 0% 5vh 0%;
}
.login-card {
  background: white;
  border-radius: 5%;
  padding: 2%;
  width: 600px;
}
.login-welcome h1 {
  font-size: 2.5rem;
}
.login-welcome p {
  font-size: 1.2rem;
  color: #707a7a;
  margin: 3vh 0 5vh 0;
}
.form-tabs {
  display: flex;
  margin-bottom: 30px;
  background: rgb(222, 218, 218);
  border-radius: 13px;
}
.tab {
  padding: 3% 5%;
  background: rgb(222, 218, 218);
  border: none;
  cursor: pointer;
  border-radius: 13px;
  font-size: 1.1rem;
  width: 100%;
}
.tab:hover {
 background-color: rgb(248, 240, 240);
 font-weight: 800;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.form-row {
  display: flex;
  flex-direction: column;
}
.form-row label {
  margin-bottom: 3vh;
  font-size: 1.3rem;
  font-weight: 600;
}
 .form-row input{
  padding: 3%;
  border-radius: 10px;
  border: 1px solid #bec0c2;
  font-size: 1.2rem;
 }
.form-row input:focus {
  outline: none;
}
.form-submit {
  background-color: #6952e0;
  color: white;
  padding: 2.5%;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
}
.form-submit:hover {
  background: purple;
}